{% load static %}
<!doctype html>
<html lang="zh_CN">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>搜索一下</title>
    <link rel="icon" class="js-site-favicon" type="image/svg+xml"
          href="{% static 'also/imgs/logo.svg' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'also/css/bootstrap.min.css' %}">
    <!--   自动填充样式-->
    <link rel="stylesheet" href="{% static 'also/css/autocompleter.css' %}">

</head>
<body>
<div class="container-fluid">
    <div class="row" style="margin-top: 8%;">
        <div class="col-12 text-center">
            <a href="{% url 'alsoapp:default' %}" class="nav-link">
                <img src="{% static 'also/imgs/logo.png' %}" alt="logo" class="rounded border-0 mb-2" height="80px;">
            </a>
        </div>
    </div>

    {#    搜索框位置#}
    <form onsubmit="return false;" name="form-search">
        <div class="form-row justify-content-center">
            <div class="col-md-8 col-lg-5">
                {% csrf_token %}
                <div class="input-group mb-2 mr-sm-2">
                    <input type="text" id="kw" class="form-control" placeholder="此处输入你要搜索的内容..."
                           value="{% if wd is not None %}{{ wd }} {% endif %}"
                           onkeydown="enter_search(event)" autofocus/>
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button" onclick="to_search(event);">&nbsp;搜索一下&nbsp;
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!--    footer-->
{% include 'component/footer.html' %}
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{% static 'also/js/jquery.min.js' %}"></script>
{#<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"#}
{#        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"#}
{#        crossorigin="anonymous"></script>#}
<script src="{% static 'also/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'also/js/jquery.autocompleter.js' %}"></script>
<script type="text/javascript" src="{% static 'also/js/also.js' %}"></script>
</body>
</html>